@use 'sass/colors' as colors;
@use 'sass/common.scss';
@use 'sass/navbar.scss';
@use 'sass/tabs.scss';
@use 'sass/fonts.scss';
@use 'sass/blocks.scss';


/* For preventing accidental bad printing */
h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
}


/* Pages */
.portfolio-page {
    padding-top: 3em;
    padding-bottom: 12em;
    padding-left: 10%;
    padding-right: 10%;
}


/* Components */
.content1 {
    text-align: left;

    h5 {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: #000;
        margin-top: 3em;
        margin-bottom: 0.25em;
    }
    p {
        font-family: "Montserrat", sans-serif;
        color: colors.$grey1;
        margin-top: 0em;
        margin-bottom: 0.25em;
    }
    ul {
        font-family: "Montserrat", sans-serif;
        color: colors.$grey1;
        padding-left: 1em;
        margin-top: 0em;
    }
}

.view-as-wrap {
    width: fit-content;
    margin: 0px auto;
    margin-top: 4em;
    margin-bottom: 4em;

    h6 {
        font-family: "Montserrat", sans-serif;
        color: colors.$grey2;
        text-transform: uppercase;
        margin-left: 4.5em;
        margin-top: 0em;
        margin-bottom: 0.25em;
    }
}
.view-as-options-list {
    display: inline-flex;
    list-style-type: none;
    padding: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 3em;

    button {
        font-family: "Montserrat", sans-serif;
        color: colors.$grey2;
        background: none;
        border: 1px solid #fff;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 2em;
    }
    .tab-item {
        p {
            display: none;
            width: 110px;
            height: 40px;
            margin-top: 0.25em;
        }
        &.active {
            border-radius: 4px;
            cursor: pointer;

            button {
                border: 1px solid colors.$grey2;            
            }
        }
        &:hover {
            p {
                display: block;
            }
        }
    }
    .tab-button {
        font-size: 12px;
        padding: 1em;

        &:hover {
            border: 1px solid colors.$grey2;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #fff;
        background-color: colors.$grey2;
        position: absolute;
        padding: 1em;
        border-radius: 4px;
        width: min-content;
        align-content: center;
    }
}



