.ta-center {
  text-align: center;
}

.d-none {
  display: none;
}

.navbar {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding-left: 2.5em;
  padding-right: 2.5em;
  align-items: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  color: #737373;
  margin: 1.5em 0em;
}

.page-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.page-sub-heading {
  font-size: 18px;
  margin-top: 0em;
}

.para-type1 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #737373;
  text-align: right;
}
.para-type1 a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #737373;
}

.companies-tab {
  width: 70%;
  margin: 0px auto;
  margin-top: 5em;
}
.companies-tab h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 1.1em;
  margin-bottom: 0em;
}
.companies-tab p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-top: 0.25em;
  margin-bottom: 1.25em;
}

.company-content-block, .duration-block {
  width: fit-content;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.company-info-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.duration-block {
  width: 21.5%;
  text-align: center;
}

.company-content-block {
  width: 78%;
  display: flex;
}

.logo-block {
  padding: 1em;
  width: 30%;
}

.details-block {
  width: 70%;
  padding-bottom: 3em;
}
.details-block h4 {
  font-family: "Montserrat", sans-serif;
  color: #545454;
  margin-top: 1.5em;
  margin-bottom: 0.1em;
}
.details-block h5 {
  margin-bottom: 0em;
}
.details-block p {
  margin-top: 1em;
}
.details-block img {
  height: 25px;
  width: 25px;
}
.details-block .company-name {
  padding-left: 35px;
  margin-top: 3em;
}
.details-block .aspect-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #000;
}
.details-block .role-description-para {
  font-size: 13px;
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.details-block .extra-info {
  font-size: 12px;
  background: #a6a6a6;
  color: #fff;
  border-radius: 4px;
  padding: 0.5em;
}
.details-block.ngo-wrap {
  padding-bottom: 1em;
}
.details-block.ngo-wrap .company-name {
  padding-left: 0em;
  margin-top: 2em;
}
.details-block.ngo-wrap .project-details {
  padding-left: 0em;
}

.details-sub-head-wrap {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}
.details-sub-head-wrap h5 {
  padding-left: 10px;
  margin-top: 0.45em;
}
.details-sub-head-wrap img.skill-up-img {
  height: 20px;
  width: 20px;
}

.project-details {
  padding-left: 35px;
  padding-right: 35px;
}

.logo-wrap.blue, .logo-wrap.green {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.logo-wrap {
  text-align: center;
  background-color: #fff3f3;
  border-radius: 4px;
}
.logo-wrap img {
  width: 60%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.logo-wrap.green {
  background: rgba(11, 255, 104, 0.1215686275);
}
.logo-wrap.ocl-green {
  background: rgba(144, 255, 124, 0.32);
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}
.logo-wrap.blue {
  background: rgba(0, 106, 159, 0.97);
}
.logo-wrap.light-blue {
  background: rgba(190, 233, 255, 0.97);
  padding-top: 2em;
  padding-bottom: 2em;
}
.logo-wrap.light-blue h4 {
  font-size: 20px;
  margin-top: 0em;
}
.logo-wrap.orange {
  background: rgba(232, 141, 66, 0.48);
  padding-top: 0em;
  padding-bottom: 0em;
}
.logo-wrap.orange img {
  width: 25%;
}

/* For preventing accidental bad printing */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
}

/* Pages */
.portfolio-page {
  padding-top: 3em;
  padding-bottom: 12em;
  padding-left: 10%;
  padding-right: 10%;
}

/* Components */
.content1 {
  text-align: left;
}
.content1 h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
  margin-top: 3em;
  margin-bottom: 0.25em;
}
.content1 p {
  font-family: "Montserrat", sans-serif;
  color: #545454;
  margin-top: 0em;
  margin-bottom: 0.25em;
}
.content1 ul {
  font-family: "Montserrat", sans-serif;
  color: #545454;
  padding-left: 1em;
  margin-top: 0em;
}

.view-as-wrap {
  width: fit-content;
  margin: 0px auto;
  margin-top: 4em;
  margin-bottom: 4em;
}
.view-as-wrap h6 {
  font-family: "Montserrat", sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin-left: 4.5em;
  margin-top: 0em;
  margin-bottom: 0.25em;
}

.view-as-options-list {
  display: inline-flex;
  list-style-type: none;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 3em;
}
.view-as-options-list button {
  font-family: "Montserrat", sans-serif;
  color: #a6a6a6;
  background: none;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 2em;
}
.view-as-options-list .tab-item p {
  display: none;
  width: 110px;
  height: 40px;
  margin-top: 0.25em;
}
.view-as-options-list .tab-item.active {
  border-radius: 4px;
  cursor: pointer;
}
.view-as-options-list .tab-item.active button {
  border: 1px solid #a6a6a6;
}
.view-as-options-list .tab-item:hover p {
  display: block;
}
.view-as-options-list .tab-button {
  font-size: 12px;
  padding: 1em;
}
.view-as-options-list .tab-button:hover {
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  cursor: pointer;
}
.view-as-options-list p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #a6a6a6;
  position: absolute;
  padding: 1em;
  border-radius: 4px;
  width: min-content;
  align-content: center;
}

@media (max-width: 768px) {
  /* Styles for tablets and smaller devices */
  .portfolio-page {
    padding-left: 5%;
    padding-right: 5%;
  }
  .duration-block {
    width: 25.5%;
  }
  .company-content-block {
    display: block;
    width: 74%;
  }
  .companies-tab {
    width: 100%;
  }
  .logo-block {
    width: 85%;
    margin: 0px auto;
  }
  .details-block {
    width: 100%;
  }
  .details-block .company-name {
    padding-left: 25px;
  }
  .project-details {
    padding-left: 25px;
    padding-right: 25px;
  }
  .details-sub-head-wrap {
    padding-left: 25px;
  }
  .details-block.ngo-wrap .project-details {
    padding-left: 20px;
  }
  .details-block.ngo-wrap .company-name {
    padding-left: 20px;
  }
  .para-type1 {
    font-size: 12px;
  }
  .para-type1 a {
    font-size: 11px;
  }
}

/*# sourceMappingURL=index.css.map */
