// View as section
.view-as-wrap
    h6 Arrange by
    ul.view-as-options-list
        li.tab-item.active(data-tab="tab1")
            button.tab-button Companies
            p Explains my work accomplishments in detail
        li.tab-item(data-tab="tab2")
            button.tab-button Calendar
            p Explains the 'seeming' gaps
        li.tab-item(data-tab="tab3")
            button.tab-button Duration
            p Text-based form of Calendar arrangement
// end View as section