// Work exp section
.ta-center
    h2.page-heading My Work Experience
    h2.page-heading.page-sub-heading In Detail
    .content1
        h5 TL;DR
        ul
            li 
                span I have 
                b no gaps 
                span in my work experience.
            li 
                span I am on 
                b great terms 
                span with all my previous employers.
        h5 EXPLANATION
        p I have certainly taken the less traveled path by studying philosophy for 3 years and by attempting a business of my own.
        p But I have been consistent in those pursuits and they have only enhanced my tech skills.
// end Work exp section