// Navbar
.navbar
    h1.main-heading Mehul Craftsmith
    p.para-type1
        | Feel free to reach me at
        br
        a(href="mailto:mehul.craftsmith@gmail.com") mehul.craftsmith@gmail.com
// end Navbar