
.duration-block
    h4.duration-txt APRIL 2017 - APRIL 2018
    p 1 YEAR

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.blue
                img(src="new_images/booklifter.png", alt="Booklifter.com")
        .details-block
            h5.company-name BOOKLIFTER

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading ABOUT

            .project-details
                h4 Bootstraped company from savings
                p.role-description-para Started a company Booklifter.com to sell second-hand books online. While I worked on the tech side, Sahil, a college batch-mate, was my business partner and handled the operations side.
                h4 Tech used
                p.role-description-para HTML5, Jade/PugJS, Bootstrap, React, Python, Django, Django Rest Framework, AWS, Jenkins.

            //- Projects
            .details-sub-head-wrap
                img(src="new_images/verification.png")
                h5.aspect-heading PROJECTS - ALL FROM SCRATCH

            .project-details
                h4 The main website
                p.role-description-para For buying and selling of second hand books.
                h4 Internal dashboard
                p.role-description-para For adding inventory, handling orders. Built this for improving the data entry operators’ efficiency, otherwise Django default admin site sufficed the need. Used RaspberryPi to host the internal dashboard, for saving hosting cost.
                h4 Landing pages
                p.role-description-para Built many landing pages on a daily basis with SEO and Profiling optimisations.

            //- Skill up
            .details-sub-head-wrap
                img(src="new_images/skill_up.png").skill-up-img
                h5.aspect-heading SKILLED UP

            .project-details
                h4 Rapid prototyping
                p.role-description-para During this phase, took a Rapid Prototyping class by Maker’s Asylum in Mumbai. Experimented with 3D printing, Laser Cutting, PCB design, Computer Aided Design (CAD), Autodesk Fusion 360, Arduino as well as Carpentry.
                h4 Data Structures and Algorithms, Deep Learning
                p.role-description-para In computer science, I learnt data structures and algorithms using Python, and completed a Deep Learning course by Andrew NG (in 2017) on Coursera.
                p.role-description-para.extra-info Attended a few Philosophy classes and later joined an institution to study it full time.