
.duration-block
    h4.duration-txt JUNE 2015
    p 3 YEAR COURSE

.company-info-block
    .company-content-block
        //- .logo-block
        //-     .logo-wrap.light-blue
        //-         h4 GRADUATED
        .details-block
            h5.company-name Completed graduation
            .project-details
                p.role-description-para in BACHERLOR OF SCIENCE IN INFORMATION TECHNOLOGY