
.duration-block
    h4.duration-txt MAY 2018 - DECEMBER 2018
    p 8 MONTHS

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.orange
                img(src="new_images/liberpays.png", alt="Liberpays")
        .details-block
            h5.company-name LIBERPAYS

            //- >> A startup owned by Aditya https://www.linkedin.com/in/kulka1729/
            //- https://liberpays.it.softonic.com/android

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading ABOUT

            .project-details
                p.role-description-para Had decided to pursue a degree in Philosophy, to get better at coding. Needed money for my course fee. Worked at Liberpays and told the founder and HR that I’d be working only till I gather sufficient funds for the course.

            //- Projects
            .details-sub-head-wrap
                img(src="new_images/verification.png")
                h5.aspect-heading PROJECTS

            .project-details
                h4 Vendor dashboard
                p.role-description-para Used Angular. It's application was to help vendors facilitate coupon functionality to the customer.
                h4 Android app in Java
                p.role-description-para Had to rise to the occassion, because our development budget was low and there was a lot of work.
                p.role-description-para.extra-info Like I had agreed with the founders in the interview, left the company after saving sufficient for my NGO course fees.