
.duration-block
    h4.duration-txt APRIL 2017 - MAY 2018
    p 1 YEAR 1 MONTH

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.light-blue
                h4 CLEARER
                h4 THINKING
        .details-block
            h5.company-name NGO

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading DESIGNATIONS

            .project-details
                p.role-description-para Cannot reveal the name of the institution because my suspicion is that they are a cult. However, I am not in touch with anyone and have taken all necessary steps to safeguard myself. I admit that I was naive to join it in the first place, but my intention was only to learn and serve.
                p.role-description-para.extra-info Studied Philosophy and did pro-bono basis coding work.