
.duration-block
    h4.duration-txt JAN 2019 - OCTOBER 2022
    p 3 YEARS 10 MONTHS

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.light-blue
                h4 CLEARER
                h4 THINKING
        .details-block.ngo-wrap
            h5.company-name NGO
            .project-details
                p.role-description-para Did extensive study on Clearer Thinking. Wanted to learn and serve. Studied Philosophy and did pro-bono basis coding work, during my time there.
                p.role-description-para.extra-info After leaving in October 2022, searched for a job and studied Computer Science further, for 3 months.