
.duration-block
    h4.duration-txt FEBRUARY 2023 - JAN 2025
    p 2 YEARS

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.ocl-green
                img(src="new_images/ocl.png", alt="Booklifter.com")
        .details-block
            h5.company-name OneClickLCA.com

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading DESIGNATIONS

            .project-details
                h4 Python developer
                p.role-description-para I often worked on the frontend and devops side too, during releases.

            //- Projects
            .details-sub-head-wrap
                img(src="new_images/verification.png")
                h5.aspect-heading PROJECTS

            .project-details
                h4 Data Import
                p.role-description-para Worked on an app with a team of 4 other developers. The app had six steps, one of which had Excel sheet like features. The other 5 steps were about complicated calculations. For instance, combining rows on user selected points, which could be text, integers, floats or preselected constants. This needed to happen over 10k rows. My work experience here was equivalent to solving a LeetCode problem on a daily basis.
                h4 Data Automation
                p.role-description-para Improved the EPD scraping software by increasing it's scope, adding fail-safe conditions, and giving better feedback to user about what happened during scraping.
                p.role-description-para.extra-info Left because I needed a break after working with their complex domain proactively for 2 years and wanted to learn AI as well.