
.duration-block
    h4.duration-txt JULY 2015 - SEP 2016
    p 1 YEAR 4 MONTHS

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap
                img(src="new_images/credr_transparent.png", alt="CredR.com")
        .details-block
            h5.company-name TURTLEMINT

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading DESIGNATIONS

            .project-details
                h4 UX/UI Prototyper
                p.role-description-para Developed Chatbots and other applications, single-handedly, as prototypes for CEO’s ideas.
                h4 Frontend developer
                p.role-description-para Got promoted to the engineering team. The tech I worked with, during my entire duration here: HTML, CSS, SASS, Bootstrap, Javascript, jQuery, Angular 1, Backbone, Webpack, Gulp, Grunt, Ionic.
                p.role-description-para.extra-info Backend developers used Python, Django, Django Rest Framework, Postgres, Elastic Search, Jenkins, Redis, Celery, Node, Express and Pub-sub mechanisms. I experimented with these technologies at the time to be able to better integrate with the backend.

            //- Projects
            .details-sub-head-wrap
                img(src="new_images/verification.png")
                h5.aspect-heading PROJECTS

            .project-details
                h4 Revamp
                p.role-description-para We revamped the entire stack for inculcating more functionalities. Once I stayed in the office overnight for this.
                h4 Landing pages
                p.role-description-para Frequently made landing pages for the marketing team.
                h4 Initiatives
                p.role-description-para In my own time, I built a feature end-to-end (frontend, backend, devops) for comparing two-wheeler vehicles across parameters. Built 2 chrome extensions: one for dev team and one for QA team, for improving workflow. Both the initiatives were approved and were appreciated by the entire team.
                h4 New Inspection Sheet
                p.role-description-para The new inspection sheet we developed to measure two-wheeler vehicles, had over 120 checkpoints across at least 4 categories. Contributed to the fast-moving development for CRUD with intense Data Structure implementation.
                p.role-description-para.extra-info 2015 and 2016 were the early days of full-stack web development in India. I gained a lot of experience at CredR and it defined my intense work-ethic too. Some of my colleagues were from Flipkart, Paypal and some of them now work at Uber, Expedia.
                h4 Main website and the Internal dashboard
                p.role-description-para Consistently made features for the main website and the internal dashboard