
.duration-block
    h4.duration-txt OCTOBER 2016 - MARCH 2017
    p 6 MONTHS

.company-info-block
    .company-content-block
        .logo-block
            .logo-wrap.green
                img(src="new_images/turtlemint.svg", alt="Turtlemint.com")
        .details-block
            h5.company-name TURTLEMINT

            //- Designations
            .details-sub-head-wrap
                img(src="new_images/creativity.png")
                h5.aspect-heading DESIGNATIONS

            .project-details
                h4 Frontend developer
                p.role-description-para Inherited a lot of technical debt. Jotted down everything on a spreadsheet and resolved it day-in, day-out.

            //- Projects
            .details-sub-head-wrap
                img(src="new_images/verification.png")
                h5.aspect-heading PROJECTS

            .project-details
                h4 Internal dashboard
                p.role-description-para Built the foundation for their internal dashboard. Implemented a functionality for sending push notifications, service workers and progressive web application tech. This tech was new at the time.
                h4 Main website
                p.role-description-para Improved the main website for the profiling metrics of browsers.
                p.role-description-para.extra-info Left for starting my own company.